.badge {
    font-size: 11px;
    color:white;
    background-color: tomato;
    width:16px;
    height: 16px;
    display:block;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}