.user-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-component,
.user-component__column:first-child,
.user-component__column:last-child
{
    display: flex;
    align-items: center;
}

.user-component__avatar {
    width:50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 20px;
}

.user-component__title {
    font-weight: 500;
    font-size:17px;
}

.user-component__subtitle {
    font-size:13px;
    margin-top: 8px;
    color:rgb(0,0,0,0.5);
}

.user-component__avatar--xl {
    width:60px;
    height: 60px;
    border-radius: 40%;
    margin-right: 20px;
}

.user-component__avatar--sm {
    width:50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 20px;
}

.user-component__title--thin {
    font-weight: 500;
}

.user-component__column span{
    font-size: 13px;
    margin-right: 5px;
}

.user-component__column:last-child {
    color:rgb(0,0,0,0.6);
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__column:last-child div {
    display: flex;
    align-items: center;
}

.user-component__time {
    margin-bottom:5px;
    display:block;
}

.dot {
    width:4px;
    height:4px;
    border-radius: 50%;
    background-color:tomato;
    display: block;
    display:flex;
}